
.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px ;
  }
  main {
    text-align: center;
    vertical-align: middle;
  }

  .main-image img {
    width:  375px;
  }

  .main-text .p1 {
 color:hsl(218, 44%, 22%);
 letter-spacing: 2px;
  }

  .main-text .p2 {
    color:hsl(216, 15%, 48%) ;
    letter-spacing: 2px;
     }

     .attribution {
         font-size: 11px;
          text-align: center;
        color:hsl(212, 45%, 89%);
        }

    .attribution a { 
        color: hsl(228, 45%, 44%); }


  @media only screen and(min-width:576px) {
    .main-image   {
        width: 375px;
      }
  }
  @media only screen and(min-width:991px) {
    .main-image   {
        width: 1440px;
      }
  }